[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"

[packages]
email-validator = "*"
fastapi = "*"
gunicorn = "*"
probablepeople = "*"
pyyaml = "*"
ujson = "*"
usaddress = "*"
uvicorn = "*"
postal = "*"

[requires]
python_version = "3.7"
